@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Leckerli+One&family=Sanchez:ital@0;1&display=swap');
/*font-family: 'Averia Serif Libre', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Sanchez', serif;*/


body {
  margin: 0;
  padding:0;
  font-family: 'Sanchez', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  min-height:100vh;
  display:flex;
  flex-direction:column;

}
header{
  height:16vh;
  background-color: #355B6D;
  display:flex;
  flex-direction:column;
}
main{
  flex-grow:1;
  dislpay:flex;
  flex-direction:column;
}
nav a{
  color:white;
  text-decoration:none;
  font-size:18px;
}
